* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
  
}

:root {
    --font-Fatface: "Abril Fatface", serif;
    --font-Montserrat: "Montserrat", sans-serif;

    --text-xxl: 3rem;
    --text-xl:1.5rem;
    --text-md:1.2rem;
    --text-paragraphy:1rem;
    --white-color:#ffff;
    --black-color:#000000;
}

h1 ,h2 , h3 , p , ul , a {
    color: var(--white-color);
}


h1 {
    font-size: var(--text-xxl);
    font-family: var(--font-Fatface);
    letter-spacing: 0.2rem;
}

h3 {
    --text-md:1.2rem;
    font-family: var(--font-Montserrat);

}

h2 {
    font-size: var(--text-xl);
    font-family: var(--font-Fatface);
}

p {
    font-size: var(--text-paragraphy);
    font-family: var(--font-Montserrat);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--font-Montserrat);
}


.button {
    a {
       padding: .5rem 2rem;
        background-color: var(--white-color);
        border-radius: 1.5rem;
        font-family: var(--font-Montserrat);
        font-weight: 600;
        color: var(--black-color);
        
    }
}


.container {
    padding-inline: 6rem;
}