.group-08 {
    width: 100%;
    min-height: 100dvh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;

        & .hero {

            & footer {
               
                display: grid;
                gap: 6rem;
                grid-template-columns: repeat(4, 1fr);
                justify-content: center;
                align-items: center;

                & .content {
                    display: grid;
                    grid-auto-flow: row;
                    justify-content: center;
                    row-gap: 2rem;
                    height: 100%;

                    & h2 {
                        font-weight: 100;
                        letter-spacing: .1rem;
                    }

                    & .social-media {
                        display: flex;
                        gap: 1rem;
                    }
                }



             }
        }
}

