@media (max-width: 900px) {
    .container {
        padding-inline: 1.5rem;
    }

    .group-02 {
        & .hero {
            & .contect-card {
                justify-content: space-evenly;

                gap: 1rem;

                & .card {
                    width: 6.6rem;
                    height: 21rem;
                    text-align: center;
                }
            }
        }
    }


    .group-04 {
        & .hero {
            & .slipse-content {
                gap: 1rem;

                & .score {

                    width: 7rem;
                    height: 7rem;

                    & h1 {
                        font-size: var(--text-xl);
                    }

                    & h2 {
                        font-size: var(--text-xl);


                    }

                }
            }
        }
    }


    .group-06 {
        & .hero {
            & .content {
                & h3 {
                    font-size: var(--text-xl);
                }
            }
        }
    }



    .group-07 {
        & .hero {
            & .content {
                & input {
                    width: 20rem;
                    height: 4rem;
                }
            }
        }
    }


    .group-08 {
        min-height: 100%;

        & .hero {
            padding-bottom: 2rem;

            & footer {
                display: grid;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                text-align: center;


                & .content {


                    & .social-media {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 500px) {


    .group-01 {
        & header {
            & nav {
                gap: 1rem;
            }
        }
    }

    .group-03 {
        display: block;
    }


    .group-08 {
        & .hero {
            & footer {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                justify-content: center;
                align-items: center;
               text-align: center;
            }
        }
    }


}

