.group-07 {
    width: 100%;
    min-height: 100dvh;
    background: rgba(0, 0, 0, 0.5) url(../assets/img/BACKGROUND-02.png);
    background-blend-mode: multiply; /* Mistura os backgrounds */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    & .hero {

        & .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            & h1 {
                font-weight: 400;
            }
            & p {
                padding-block: 2rem;
            }

            & input {
                width: 42rem;
                height: 4rem;
                padding-inline: 2rem;
                border-radius: 2.5rem;
                font-family: var(--font-Montserrat);
                font-weight: 800;
                font-style: normal;
                font-size: var(--text-md);
            }
        }
    }
}